@using System.Security.Claims
@model SistemaDeAgendamento.Web.Models.Service.ReadViewModel;

@{
    ViewData["Title"] = "Serviços";
}

@if (Model.ShowWelCome == true)
{
    <div class="text-center">

        <h1 class="display-4">Seja Bem-Vindo</h1>

        @if (@User.FindFirst(ClaimTypes.NameIdentifier)?.Value != null)
        {
            <h2>@User.FindFirst(ClaimTypes.NameIdentifier)?.Value</h2>
        }
        else
        {
            <h2 class="h3 text-secondary">ao sistema de Agendamento</h2>
        }

       
    </div>
}

<h3 class="h2 text-center mt-5 mb-3 text- fw-semibold">Escolha um serviço para agendar:</h3>


@if (@User.IsInRole("Admin"))
{
    <div class="py-2">
        <a class="btn btn-primary mb-3" asp-controller="Service" asp-action="Create">Novo Serviço</a>
    </div>
}

@if (Model.Services == null || Model.Services.Count == 0)
{
    <p class="card-text">Nenhum serviço cadastrado.</p>
}
else if (@User.IsInRole("Admin"))
{
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Duração</th>
                <th scope="col"></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.Services)
            {
                var totalMinutes = service.DurationInMinutes;
                var hours = totalMinutes / 60;
                var minutes = totalMinutes % 60;

                string formattedDuration;
                if (hours == 0)
                {
                    formattedDuration = $"{minutes}min";
                }
                else if (minutes == 0)
                {
                    formattedDuration = $"{hours}h";
                }
                else
                {
                    formattedDuration = $"{hours}h {minutes}min";
                }

                <tr>
                    <td>@service.Name</td>
                    <td>@service.Price.ToString("C")</td>
                    <td>@formattedDuration</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Service", new { id = service.Id })">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="row">
        @foreach (var service in Model.Services)
        {
            var totalMinutes = service.DurationInMinutes;
            var hours = totalMinutes / 60;
            var minutes = totalMinutes % 60;

            string formattedDuration;
            if (hours == 0)
            {
                formattedDuration = $"{minutes}min";
            }
            else if (minutes == 0)
            {
                formattedDuration = $"{hours}h";
            }
            else
            {
                formattedDuration = $"{hours}h {minutes}min";
            }

            <div class="card-container col-md-4 col-sm-6 mb-4">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold text-dark text-uppercase">@service.Name</h5>
                        <div class="d-flex justify-content-between text-muted mt-2 mb-3">
                            <span class="text-success price-span"><i class="bi bi-cash-coin me-1"></i>@service.Price.ToString("C")</span>
                            <span class="text-primary time-span">
                                <i class="bi bi-clock me-1"></i>@formattedDuration
                            </span> 
                        </div>
                        <a href="@Url.Action("Create", "Appointment", new { id = service.Id })" class="btn btn-primary btn-sm w-100"><i class="bi bi-calendar4 me-1"></i>Agendar</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

<div id="successToast" class="alert alert-success position-fixed bottom-0 end-0 m-3 fade" role="alert" style="z-index: -1;" aria-live="polite">
    Agendamento realizado com sucesso!
</div>


@section Scripts {
    <script>
        function showToast(id) {
            const toast = document.getElementById(id);
            toast.classList.add("show");
            toast.style.zIndex = "9999";
            setTimeout(() => {
                toast.classList.remove("show");
                toast.style.zIndex = "-1";
            }, 5000);
        }

        window.addEventListener("DOMContentLoaded", () => {
            const params = new URLSearchParams(window.location.search);
            if (params.get("success") === "True") {
                showToast("successToast");
                const newUrl = window.location.pathname;
                window.history.replaceState({}, document.title, newUrl);
            }
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Service/Read.css"/>
}