@model SistemaDeAgendamento.Web.Models.Employee.EditViewModel;

@{
    ViewData["Title"] = "Editar Funcionário";
}

<h1>Editar Funcionário</h1>

<form class="row g-3 needs-validation" asp-controller="Employee" asp-action="Edit" id="form" novalidate>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />

    <div class="col-md-12">
        <label for="inputName" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="inputName" asp-for="Name" placeholder="Nome do Funcionário" required>
    </div>
    <div class="col-md-6">
        <label for="inputUserName" class="form-label">Username:</label>
        <input type="text" id="userName" class="form-control" placeholder="nome para o funcionário fazer login" asp-for="UserName" required>
    </div>
    <div class="col-6">
        <label for="inputPassword" class="form-label">Senha:</label>
        <input type="text" class="form-control" id="inputPassword" asp-for="Password" placeholder="senha para o funcionário fazer login" required>
    </div>
    <div class="col-6">
        <label for="inputPhoneNumber" class="form-label">Telefone:</label>
        <input type="text" class="form-control" id="inputPhoneNumber" asp-for="PhoneNumber" placeholder="(61) 9 9999-9999" required>
    </div>
    <div class="col-6">
        <label for="inputEmail" class="form-label">Email(opicional):</label>
        <input type="email" class="form-control" id="inputEmail" asp-for="Email" placeholder="email do funcionário">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-danger mx-2" formaction="@Url.Action("Delete", "Employee")">Excluir</button>
    </div>


    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

</form>

<div class="card">
    <div class="card-header">
        Horário de trabalho
    </div>
    <div class="card-body">

@if (Model.EmployeeAvailability == null || Model.EmployeeAvailability.Count == 0)
{
     <p class="card-text">Nenhum aluno encontrado para essa turma.</p>
}
else
{
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Dia da semana</th>
                            <th scope="col">horário de inicio</th>
                            <th scope="col">horário de saida</th>
                            <th scope="col">está trabalhando?</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var weekDay in Model.EmployeeAvailability)
                        {
                            <tr>
                                <th>@weekDay.WeekDayDisplay</th>
                                <td>@weekDay.StartTime</td>
                                <td>@weekDay.EndTime</td>
                                <td>@weekDay.IsActive</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Availability" asp-action="Edit">Editar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
}
    </div>
</div>

@section Scripts {
    <script>
         (() => {
          'use strict'

          const forms = document.querySelectorAll('.needs-validation')

          Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
        })()

        const phoneInput = document.getElementById('inputPhoneNumber');

        phoneInput.addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, '');

            if (value.length > 11) value = value.slice(0, 11);

            if (value.length > 2 && value.length <= 7) {
                value = `(${value.slice(0, 2)}) ${value.slice(2)}`;
            }
            else if (value.length > 7 && value.length <= 11) {
                value = `(${value.slice(0, 2)}) ${value.slice(2, 3)} ${value.slice(3, 7)}-${value.slice(7)}`;
            }
            else if (value.length > 0 && value.length <= 2) {
                value = `(${value}`;
            }

            e.target.value = value;
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', function () {
            const input = document.getElementById('inputPhoneNumber');
            input.value = input.value.replace(/\D/g, '');
        });
    </script>
}